In [69]:

import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [70]:
df_burglaries = pd.read_csv('data/full_data.csv')

df_burglaries.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Crime ID,Month_x,Reported by_x,Falls within_x,Longitude_x,Latitude_x,...,Median 2003/04,Median 2004/05,Median 2005/06,Median 2006/07,Median 2007/08,Median 2008/09,Median 2009/10,Median 2010/11,Median 2011/12,Median 2012/13
0,0,0,0,0,5f2b26f18d91b49f16f23dc1a23277df19013f29ad0966...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.201642,51.654545,...,"£31,370","£33,250","£33,340","£35,280","£36,310","£37,430","£39,040","£40,060","£41,970","£42,720"
1,1,1,1,1,b1970cadf1adc34a588989067dd9911de0db408608b4d5...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.176710,51.649701,...,"£29,310","£30,880","£30,780","£32,420","£33,230","£34,140","£35,500","£36,340","£38,000","£38,610"
2,2,2,2,2,5ec60496426f4134d6aff206bc04936fea792a6ac49a61...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.212993,51.648226,...,"£26,870","£28,410","£28,430","£30,050","£30,900","£31,850","£33,210","£34,090","£35,740","£36,400"
3,3,3,3,3,776515f51dd5ddb1cde50d464979c17df121b8f32239eb...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.209312,51.643341,...,"£26,870","£28,410","£28,430","£30,050","£30,900","£31,850","£33,210","£34,090","£35,740","£36,400"
4,4,4,4,4,1164a96f9d4b1be9030577b6cdcfc3a6c7cf66e1b2fa1d...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.210122,51.642571,...,"£24,910","£26,390","£26,460","£28,030","£28,890","£29,830","£31,180","£32,070","£33,690","£34,380"

In [132]:
df_burglaries['Month of crime'] = df_burglaries['Month_x'].str[5:7]
df_burglaries['Year of crime'] = df_burglaries['Month_x'].str[:4]

df_burglaries['Number of burglaries'] = 1



f = {
    'Mid-year Population Estimates;All Ages;2013' : 'mean',
    'Mid-year Population Estimates;Aged 0-15;2013' : 'mean',
    'Mid-year Population Estimates;Aged 16-29;2013' : 'mean',
    'Mid-year Population Estimates;Aged 30-44;2013' :'mean',
    'Mid-year Population Estimates;Aged 45-64;2013' : 'mean',
    'Mid-year Population Estimates;Aged 65+;2013' : 'mean',
    'Population Density;Persons per hectare;2013' : 'mean',
    'Ethnic Group;White;2011' : 'mean',
    'Ethnic Group;Mixed/multiple ethnic groups;2011' : 'mean',
    'Ethnic Group;Asian/Asian British;2011' : 'mean',
    'Ethnic Group;Black/African/Caribbean/Black British;2011' : 'mean',
    'Ethnic Group;Other ethnic group;2011' : 'mean',
    'Number of burglaries' : 'sum',
    'Household Income, 2011/12;Median Annual Household Income estimate (£)' : 'mean'

}


df_burglaries_grouped = df_burglaries.groupby(['LSOA code_x', 'Year of crime']).agg(f)
df_burglaries_grouped = df_burglaries_grouped.reset_index()


df_burglaries_grouped['LSOA code reg'] = df_burglaries_grouped['LSOA code_x'].str[1:]

key_list = []
for key,value in f.items():
    key_list.append(key)


covid_mask = (df_burglaries_grouped['Year of crime'] != '2020') & (df_burglaries_grouped['Year of crime'] != '2021') & (df_burglaries_grouped['Year of crime'] != '2022')
df_burglaries_woCovid_grouped = df_burglaries_grouped[covid_mask]

df_burglaries_woCovid_grouped.head()

,LSOA code_x,Year of crime,Mid-year Population Estimates;All Ages;2013,Mid-year Population Estimates;Aged 0-15;2013,Mid-year Population Estimates;Aged 16-29;2013,Mid-year Population Estimates;Aged 30-44;2013,Mid-year Population Estimates;Aged 45-64;2013,Mid-year Population Estimates;Aged 65+;2013,Population Density;Persons per hectare;2013,Ethnic Group;White;2011,Ethnic Group;Mixed/multiple ethnic groups;2011,Ethnic Group;Asian/Asian British;2011,Ethnic Group;Black/African/Caribbean/Black British;2011,Ethnic Group;Other ethnic group;2011,Number of burglaries,"Household Income, 2011/12;Median Annual Household Income estimate (£)",LSOA code reg
0,E01000115,2011,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,8,45902.0,01000115
1,E01000115,2012,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,26,45902.0,01000115
2,E01000115,2013,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,15,45902.0,01000115
3,E01000115,2014,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,10,45902.0,01000115
4,E01000115,2015,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,11,45902.0,01000115

In [136]:
#Training the model
regr = LinearRegression()

X = df_burglaries_woCovid_grouped[['LSOA code reg',
 'Mid-year Population Estimates;All Ages;2013',
 'Mid-year Population Estimates;Aged 0-15;2013',
 'Mid-year Population Estimates;Aged 16-29;2013',
 'Mid-year Population Estimates;Aged 30-44;2013',
 'Mid-year Population Estimates;Aged 45-64;2013',
 'Population Density;Persons per hectare;2013',
 'Ethnic Group;White;2011',
 'Ethnic Group;Mixed/multiple ethnic groups;2011',
 'Ethnic Group;Asian/Asian British;2011',
 'Ethnic Group;Black/African/Caribbean/Black British;2011',
 'Household Income, 2011/12;Median Annual Household Income estimate (£)',
 'Year of crime'
 ]]
y = df_burglaries_woCovid_grouped['Number of burglaries']




X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)

#regr.fit(X_train,y_train)

#Y_hat = regr.predict(X_test)

#print(regr.intercept_, regr.coef_, regr.score(X_test, y_test))

In [134]:
#Random forest model imports
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

In [137]:
#Random forest model
model = RandomForestClassifier()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.06637168141592921

In [128]:
#Do not run more than once!!!!!!
Y_hat = model.predict(X_test)

forest_data = pd.DataFrame(X_test)

forest_data['Number of burglaries'] = Y_hat

In [129]:
forest_data.head(10)

,LSOA code reg,Mid-year Population Estimates;All Ages;2013,Mid-year Population Estimates;Aged 0-15;2013,Mid-year Population Estimates;Aged 16-29;2013,Mid-year Population Estimates;Aged 30-44;2013,Mid-year Population Estimates;Aged 45-64;2013,Population Density;Persons per hectare;2013,Ethnic Group;White;2011,Ethnic Group;Mixed/multiple ethnic groups;2011,Ethnic Group;Asian/Asian British;2011,Ethnic Group;Black/African/Caribbean/Black British;2011,"Household Income, 2011/12;Median Annual Household Income estimate (£)",Year of crime,Number of burglaries
500,01000152,1725.0,535.0,398.0,372.0,327.0,93.0,635.0,156.0,239.0,561.0,20762.0,2022,8
2801,01000320,1562.0,273.0,255.0,314.0,421.0,67.0,1060.0,80.0,219.0,74.0,38534.0,2015,14
2680,01000311,1672.0,528.0,339.0,319.0,265.0,48.0,1313.0,31.0,136.0,70.0,51604.0,2019,23
172,01000127,1543.0,386.0,306.0,342.0,383.0,77.0,753.0,81.0,341.0,267.0,22342.0,2019,3
1303,01000211,2115.0,329.0,562.0,608.0,372.0,77.0,1346.0,116.0,302.0,130.0,31035.0,2011,43
1274,01000208,1526.0,317.0,242.0,337.0,353.0,38.0,1236.0,42.0,181.0,31.0,55231.0,2023,10
114,01000123,1726.0,325.0,289.0,416.0,501.0,33.0,1140.0,98.0,296.0,76.0,31424.0,2015,26
1234,01000206,1547.0,287.0,240.0,264.0,425.0,12.0,1195.0,43.0,212.0,41.0,82997.0,2011,19
1254,01000207,1541.0,336.0,236.0,322.0,355.0,44.0,1307.0,57.0,136.0,29.0,61611.0,2017,25
606,01000160,2195.0,378.0,403.0,750.0,487.0,73.0,1271.0,113.0,424.0,166.0,41349.0,2016,17